<h1>Account#things</h1>
<p>Find me in app/views/account/things.html.erb</p>

<table border="1">
  <tr>
    <th>receipt</th>
    <th>name</th>
    <th>price</th>
    <th>amount</th>
    <th>subtotal</th>
    <th>category</th>
    <th>email</th>
    <th>time</th>
  </tr>
  <% @receipts.each{|r| %>
    <% r.things.each{|t| %>
      <tr>
        <td>
          <%= r %>
        </td>
        <td>
          <%= t.name %>
        </td>
        <td>
          ￥<%= t.price %>
        </td>
        <td>
          <%= t.amount %>
        </td>
        <td>
          ￥<%= t.price * t.amount %>
        </td>
        <td>
          <%= t.category %>
        </td>
        <td>
          <%= t.receipt.owner.email %>
        </td>
        <td>
          <%= t.receipt.bought_at %>
        </td>
      </tr>
    <% } %>
  <% } %>
</table>

<input type="button" onclick="location.href='/account/charts'"value="戻る">

